.dakuang {
  margin-left: 1rem;
  margin-right: 1rem;
  grid-kiss:
    "                                                           "
    "       +----------+      +------+      +----------+    ----"
    "       | .user_l  |      |      |      | .user_r  |    30% "
    "       +----------+      +------+      +----------+    ----"
    "                                                       10px"
    "       +----------+      +------+      +----------+    ----"
    "       | .elec_l  |      |      |      | .elec_r  |    20% "
    "       +----------+      +------+      +----------+    ----"
    "                                                       10px"
    "       +----------+      +------+      +----------+    ----"
    "       | .node_l  |      |      |      | .node_r  |    20% "
    "       +----------+      +------+      +----------+    ----"
    "                                                       10px"
    "       +----------+      +------+      +----------+    ----"
    "       | .lib     |      |      |      |          |    25% "
    "       +----------+      +------+      +----------+    ----"
    "       |   40%    | 50px | auto | 50px |   40%    |        "
    "                                                           "
}
